{% extends 'index.html' %}
{% block content %}
    <form class="nice-form">
    {{ form.as_p }}
    <input type="submit">
    </form>
<table class="nice-table">
    <thead>
        <tr>
            <th>Pacjent</th>
            <th>Lekarz</th>
            <th>Data wizyty</th>
            <th>Cel wizyty</th>
        </tr>
    </thead>
    <tbody>
        {% for visit in visits %}
        {% for doctor in visit.doctor.all %}
        <tr>
            <td><a href="/show_visit/{{ visit.id }}">{{ visit.patient }}</a></td>
            
            <td>{{ doctor.name }} {{ doctor.surname }}</td>
        {% endfor %}
            <td>{{ visit.date }}</td>
            <td>{{ visit.reason }}</td>
        </tr>
            {% endfor %}
        
    
    </tbody>
</table>
{% endblock %}
