{% extends 'index.html' %}
{% block content %}
    <form class="nice-form">
    {{ form.as_p }}
     <button type="submit" class="nice-button">Wyszukaj pacjenta</button>
    </form>

<table class="nice-table">
    <thead>
        <tr>
            <th>Lista pacjentów</th>
            <th>Usun</th>
        </tr>
    </thead>
    <tbody>
        {% for patient in patients %}
        <tr>
            <td><a href="/show_patient/{{ patient.id }}">{{ patient.name }} {{ patient.surname }}</a></td>
            <td><a href="/delete_patient/{{ patient.id }}">X</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
